<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DataProvider" type="BugNET.DataAccessLayer.DataProviderConfiguration, BugNET" />
  </configSections>
  <appSettings>
    <add key="DataAccessType" value="BugNET.DataAccessLayer.SqlDataAccessLayer, BugNET" />
  </appSettings>
  <DataProvider defaultProvider="SqlDataProvider">
  <providers>
    <add name="SqlDataProvider" type="BugNET.DataAccessLayer.SqlDataProvider, BugNET" connectionStringName="BugNET" />
  </providers>
  </DataProvider>
  <connectionStrings>
    <clear/>
    <add name="BugNET" connectionString="Data Source=.\SQLEXPRESS;Database=C:\PROJECTS\BUGNET 0.8\SRC\BUGNET_WAP\APP_DATA\BUGNET.MDF;Integrated Security=True;" providerName="" />
  </connectionStrings>
</configuration>