html, body, img, hr, p, ul, ol, li, li, dd, dt, dl, form {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font: 75%/1.5 arial, helvetica, sans-serif;
  background: White;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: black;
  font-weight: bold;
}

h1 {font-size: 200%; color: #447322; font-weight: normal;}
h2 {font-size: 140%; color: #447322; font-weight: bold;line-height:25px;}
/*h3 {font-size: 120%;color:#666666;font-weight: bold;}*/
h3{font-size:120%; color: #666666;font-weight: bold; line-height:25px;border-bottom:1px dotted #ccc;}
h4 {font-size: 120%;color:#747474;font-weight: bold;}
h5 {font-size: 110%;}
h6 {font-size: 100%;}

label, a span{
  cursor: pointer;
}

img, a img {
  border: 0;
}

a, a:link {
  /*text-decoration: underline;
  color: #4A7728;*/
}

a:active, a:hover {
  color: #F4620B;
  text-decoration: none;
}

hr, .hide {
  display: none;
}

hr.clearer {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}

.standardText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #000000;
}

/* Project Calendar Styles */
.calDayStyle a
{
    font-size:18px;
}
.calIssuePastDue a
{
    font-family: Arial, Verdana; 
    font-size: 8pt;
     /*color:#555557;*/
    color:#fff;
}
.calIssuePastDue
{
    margin:3px;
   /* color:#555557;*/
    background-color:#FF7777;
    color:#fff;
    padding:3px;
   
}
.calIssue
{
    background-color:#8888BB;
    margin:3px;
    color:#fff;
    padding:3px;
}
.calIssue a
{
    font-family: Arial, Verdana; 
    font-size: 8pt;
     /*   color:#555557;*/
    color:#fff;
}

/* Grid Styles */
.grid
{ 
	font-weight: normal;
	font-size: 11px;
	color: #333;
	border: none;
	border-top:none;
	border-collapse: collapse;
	border-spacing: 0px;
	width:100%;
	clear:both;
}
.gridHeader
{
	text-align:left;
	background-color:#C4EFA1;
	font-weight:bold;	
	height:20px;
}
.gridHeader a
{
	font-weight:bold;	
	text-decoration:none;
	font-size:100%;
	color:#333333;	
}
.gridAltRow
{
	background-color:#fafafa;	
}
.gridPager
{
    vertical-align:middle;
    height:25px;  
    background-color:#F1F2EC;
    text-align:right;
}
.gridFooter
{
  background-color:#eeeeee; 
  font-size:0.8em;  
}
.gridSelectedRow
{
    background-color:#B2C3E1; 
    font-weight:bold;
    font-size:0.8em;
}
/* Roadmap */
.roadMapGroupHeader td
{ 
	text-align: left;
	font-family: Verdana;
	padding-top:0px;
	margin-top:5px;
	background-color:#eee;
	height:25px;
}
.roadMapSummary
{
	padding-left:5px;
	width:100px;
	font-weight:bold;
	background-color:#eee;
}
/* Change Log */
.changeLogGroupHeader td
{
	text-align: left;
	font-family: Verdana;
	padding-top:0px;
	padding-left:5px;
	width:100px;
	height:25px;
	font-weight:bold;
	background-color:#eee;
}
/* Project */
.project
{
	padding: 0;
	border:1px solid #efefef;
	margin-bottom: 1em;
 }
 .project table
 {
	border-collapse: collapse;
 }
 .projectTitle td
 {
 	padding: 0 5px;
 	border-bottom:solid 1px #ddd;
 	background-color:#F5F5F5;
 }
.projectDescription
{
	padding: 10px 5px;
	width:auto;
}
.project h2
{
	margin: 0;
	padding: 0;
	font-family: arial, verdana, sans-serif;
	font-size: 1.5em;
	line-height: 1.5em;
 }
.project h2 a
{
	text-decoration:none;
	color:#000;
}
.project h2 a:visited
{
	text-decoration:none;
	color:#000;
}
.project h2 a:hover 
{
	color: #039;
}
.project h2 span
 {
	font-size: 90%;
	color:#999;
	text-transform:uppercase;
 }
 .project p
 {
	margin:0;
 }
 .project ul.options {
	font-size: 100%;
	line-height: 5px;
	list-style-type: none;
	list-style: none;	
	margin:0;
	padding:0;
}
.project ul.options li 
{	
	margin:0;
	padding: 0;
	line-height:10px;
	font-size:100%;
	display: inline;	
}
.project ul.options li a
{
	color:#0040B6;
	font-size:0.9em;	
}

ul.adminMenu {
  margin: 0;
}

ul.adminMenu li {
  list-style: none !important;
}

ul.adminMenu li span {
  list-style: none;
  display: list-item;
  padding: 4px 10px 4px 15px;
  text-decoration: none;
  color: #4A7728 !important;
  background: #BFF38F;
  border-bottom: 1px solid #ffffff;
}

ul.adminMenu li a {
  list-style: none;
  display: list-item;
  padding: 4px 10px 4px 7px;
  text-decoration: none;
  color: #4A7728 !important;
  background: #BFF38F;
  border-bottom: 1px solid #ffffff;
}

ul.adminMenu li span {
  background: #BFF38F;
}

ul.adminMenu li a:hover {
  background: #BFF38F;
}

ul.adminMenu li span {
  font-weight: bold;
}

ul.adminMenu li.on a
{
   background-image:url(../../images/on.gif);
   background-position:right;
   background-repeat:no-repeat;
}

ul.adminMenu li.off a {
   background-image:url(../../images/off.gif);
   background-position:right;
   background-repeat:no-repeat;
}

ul.adminMenu li a:hover {
   background-image: url(../../images/on.gif);
   background-repeat: no-repeat;
   background-position: right;
}


/* SWF Upload */
.progressWrapper {
	width: 357px;
	overflow: hidden;
}

.progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}
/* Message */
.message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
.blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}

.progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}

a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(../../images/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

a.progressCancel:hover {
	background-position: 0px 0px;
}


/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {
	vertical-align: top;
}
